@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-family: 'Rubik';
}
body {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
div {
	font-size: 10vw
}
 
@media screen and (min-width: 1000px) {
	div {
		font-family: 'Rubik';
		font-size: 10vh
	}	
}